.main{
    /* background-color: red; */
    height: 100vh;
    /*background-image: url(./images/pexels-fauxels-3183132.jpg ) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;*/ 




    background: url(./images/pexels-fauxels-3183132.jpg) url(./images/user\ logo.png);
}
